h2 {
    width: 90%;
    margin-top: 20px;
    text-align: center;
}

/*-----------------index.html----------------*/
.users-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

#users-block {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

.user-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    background-color: #eeeffd;
    height: 100px;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}

.user-details-button {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    align-content: center;
    width: 120px;
    height: 25px;
    background: #c8cfdc;
    margin-top: 5px;
    color: #621818;
}

.user-details-button:visited {
    color: #252525;
}

.user-details-button:hover {
    background: rgba(118, 181, 172, 0.69);
    /* For Colorize Background */
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    color: #252525;
    transition: 0.2s;

}

/*-----------------user-details.html----------------*/
.details-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


#user-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin: 20px;
    width: 90%;
    background-color: #eeeffd;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}

.back-btn {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    align-content: center;
    height: 25px;
    background: #c8cfdc;
    margin: 20px;
    color: #252525;
}

.back-btn:hover {
    background: rgba(118, 181, 172, 0.69);
    /* For Colorize Background */
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    color: #252525;
    transition: 0.2s;
}

.additional-info {
    margin-left: 15px;
}

#user-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
    width: 90%;
}

#user-posts p {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    background: #f5f4f4;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}

#hide-btn {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    align-content: center;
    height: 25px;
    width: 90%;
    background: #c8cfdc;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}

#hide-btn:hover {
    background: rgba(118, 181, 172, 0.69);
    /* For Colorize Background */
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    color: #252525;
    transition: 0.2s;
}

.read-btn {
    color: #621818;
    text-decoration: underline;
}

.read-btn:hover {
    color: #252525;
    transition: 0.2s;
}

.read-btn:visited {
    color: grey;
}

/*-----------------user-posts.html----------------*/
.user-post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#user-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    background: #eeeffd;
    height: 150px;
    width: 90%;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}

#post-comments-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    text-align: left;
    width: 90%;
}

.post-comments {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    background: #f5f4f4;
    gap: 10px;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}

.post-text {
    border: 1px solid lightgray;
    border-radius: 10px;
    color: #252525;
    padding: 5px;
    background: #fafdf5;
}
