h2 {
    margin: 20px;
}

#wrapper {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
}

.user-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    background-color: #eeeffd;
    height: 100px;
}

.user-details-button {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    align-content: center;
    width: 120px;
    height: 25px;
    background: #c8cfdc;
    margin-top: 5px;
}

.user-details-button:hover {
    background: rgba(118, 181, 172, 0.69);
    /* For Colorize Background */
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    color: #252525;
    transition: 0.2s;

}

#user-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin: 20px;
    width: 90%;
    background-color: #eeeffd;
}


#toggle {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    align-content: center;
    height: 25px;
    width: 90%;
    background: #c8cfdc;
    margin: 20px;
}

.back-btn {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    align-content: center;
    height: 25px;
    background: #c8cfdc;
    margin: 20px;
}

.additional-info {
    margin-left: 15px;
}