h2 {
    /*margin: 20px;*/
    width: 90%;
    margin: 20px auto;
}

/*-----------------index.html----------------*/
#wrapper {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
}

.user-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    background-color: #eeeffd;
    height: 100px;
}

.user-details-button {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    align-content: center;
    width: 120px;
    height: 25px;
    background: #c8cfdc;
    margin-top: 5px;
}

.user-details-button:hover {
    background: rgba(118, 181, 172, 0.69);
    /* For Colorize Background */
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    color: #252525;
    transition: 0.2s;

}

/*-----------------user-details.html----------------*/
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


#user-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin: 20px;
    width: 90%;
    background-color: #eeeffd;
}

.back-btn {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    align-content: center;
    height: 25px;
    background: #c8cfdc;
    margin: 20px;
}

.back-btn:hover {
    background: rgba(118, 181, 172, 0.69);
    /* For Colorize Background */
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    color: #252525;
    transition: 0.2s;
}

.additional-info {
    margin-left: 15px;
}

#user-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
    width: 90%;
}

#user-posts p {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    background: #f5f4f4;
}

#hide-btn {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    align-content: center;
    height: 25px;
    width: 90%;
    background: #c8cfdc;
    margin: 0 auto;
}

#hide-btn:hover {
    background: rgba(118, 181, 172, 0.69);
    /* For Colorize Background */
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    color: #252525;
    transition: 0.2s;
}

/*-----------------user-posts.html----------------*/
.user-post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#user-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    background: #eeeffd;
    height: 150px;
    width: 90%;
}

#post-comments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    background: #f5f4f4;
    text-align: left;
    align-content: space-evenly;
    width: 90%;
}


/*// Стилізація проєкта -*/
/*// index.html - всі блоки з user - по 2 в рядок. кнопки/посилання розташувати під інформацією про user.*/
/*// user-details.html - блок з інфою про user зверху сторінки. Кнопка нижче, на 90% ширини сторінки, по центру.*/
/*//     блоки з короткою інфою про post - в ряд по 5.*/
/*// post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/*//     Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд.)*/